 *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
body{
    padding-inline: 5.5em;
    font-family: "DM Sans", sans-serif;
}
li{
    list-style: none;
}
button{
    border: none;
}
h1{
    font-size: 2.618rem;
}
h2{
    font-size: 1,618rem;
}
p{
    font-size: 1rem;
    color: grey;
}
a p{
    font-size: 1rem;
    color: #664EFC !important;
}
.logo{
    width: 20%;
}
#menu{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; 
}
#menu ul{
    width: 40%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
label img{
    width: 100%;
}
.icono-menu{
    display: none;
}
#menu-ham{
    display: none;
}
.btn{
    background-color: #664EFC;
    width: 100%;
    padding: 1em;
    color: white;
    border-radius: 2px;
}
#banner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.izq-banner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}
.izq-banner h1{
    width: 100%;
    font-size: 2.618rem;
    font-style: normal;
    font-weight: bold;
}
.izq-banner p{
    line-height: 1.5;
}
.izq-banner strong{
    color: #664EFC;
}
.der-banner{
    width: 100%;
}
.der-banner img{
    width: 100%;
}
img{
    width: 30%;
}
.izq-banner button{
    background-color: #664EFC;
    width: 30%;
    padding: 1em;
    color: white;
    border-radius: 2px;
}
#sc1{
    width: 100%;
    display: flex;
    gap: 2em;
    padding: 6em 0 6em 0;
    justify-content: space-around;
    align-items: center;
}
.izq-sc1{
    flex: 70%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}
.izq-sc1 h2{
    width: 100%;
    font-size: 1,618rem;
    font-style: normal;
    font-weight: bold;
}
.izq-sc1 p{
    line-height: 1.5;
}
.der-sc1{
    width: 100%;
    flex: 30%
}
.der-sc1 img{
    width: 100%;
}
#sc2{
    width: 100%;
    display: flex;
    gap: 1em;
    padding: 5em 0 5em 0;
    justify-content: center;
    align-items: center;
}
.izq-sc2{
    flex: 40%;
    width: 100%;
}
.izq-sc2 img{
    width: 100%;
}
.der-sc2{
    width: 100%;
    flex: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1em;
}
.der-sc2 h2{
    width: 100%;
    font-size: 1,618rem;
    font-style: normal;
    font-weight: bold;
}
.der-sc2 p{
    line-height: 1.5;
}
#pie{
    display: flex;
    gap: 8em;
    padding: 3em 0 3em 0;
}
.izq-pie p{
    line-height: 1.5;
}
.izq-pie{
    flex: 30%;
    line-height: 1.5;
}
.der-pie{
    flex: 70%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    line-height: 1 ;
}
.der-pie article h3,p{
    padding-bottom: 1em;
}
/*Celular*/
@media only screen and (min-width: 300px) and (max-width:768px){
    body{
        padding-inline: 1em;
    }
    #banner, #sc1{
        flex-direction: column-reverse;
    }
    #sc2{
        flex-direction: column;
        padding: 1em 0 5em 0;
    }
    #pie{
        flex-direction: column;
        gap: 2em;
    }
    .der-pie{
        grid-template-columns: 1fr 1fr;
    }
    .izq-banner button{
        width: 40%;
    }
    img{
        width: 40%;
    }
    #sc1{
        padding: 6em 0 1em 0;
    }
    .icono-menu{
        display: block;
    }
    .izq-banner br,.izq-sc1 br,.der-sc2 br{
        display: none;
    }
    #menu{
        position: relative;
    }
    #menu ul{
        display: none;
    }
    #menu-ham:checked ~ .menuham{
        display: block;
        position: absolute;
        top: 28px;
        right: 0;
        background-color: aliceblue;
    }
}
/*Tablet*/
@media only screen and (min-width: 769px) and (max-width:1200px){
    body{
        padding-inline: 2em;
    }
    #banner{
        flex-direction: column-reverse;
    }
     .der-pie{
        grid-template-columns: 1fr 1fr;
    }
    #sc1{
        padding: 6em 0 0 0;
    }
}
